<div class="container mt-5">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.grandcinemas.com.au/SharedContent/MdYf1YyzZk-Rl63ptKsB9g.jpg)">
    <div class="container text-center">
      <p>Save any kind of movies</p>
      </div>
  </div>


  <div class="cards mt-5">
      <% @lists.each do |list| %>
          <%= link_to list_path(list), class:"text-decoration-none"  do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
            <%= list.name %>
          </div>
          <% end %>
      <% end %>
  </div>
</div>
