<div class="container mt-5">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("photo-1668890094751-6986d0ca9dfc_rrp6de.jpg", width: 1500, height: 800, crop: :fill) %>')">

    <div class="container text-center">
      <p>Save any kind of movies</p>
      </div>


  </div>


  <div class="cards mt-5">
      <% @lists.each do |list| %>
          <%= link_to list_path(list), class:"text-decoration-none"  do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path('images_skhc5i.jpg') %>)">
            <%= list.name %>
          </div>
          <% end %>
      <% end %>
  </div>
</div>
